NEXT_PUBLIC_SUPABASE_URL=https://bwzegcmkowjodwtrnfll.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_5hKnNuWRDRnl3VrpDqRRtQ_6c9-gur2
RESEND_API_KEY=re_Qw2YH26J_3HKkBZCLE34RG1hkQhygs7EC